* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    display:flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding:40px;
    border: 5px dotted black;
}

.title-name {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.intro {
    text-align: center;

}

.dice-roller {
    text-align: center;
}

input[type=text] {
    width: 20%;
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
}

.text-indent {
    text-indent: 5%;
}

.section-header {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 4%;
}

.section-info {
    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
    padding: 5px;
}

.section-steps {
    line-height: 2;
}

.table {
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;;
    border-bottom: 1px solid black;
    padding: 5px;
}


.exp-table {
    border:1px solid black;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

footer {
    text-align: center;
}